@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600&family=Lato&display=swap');

html{
  scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Lato"
    
}

.titlepage{
    position: intial;
    width: 100vw;
    height: 30vh;
    font-size: 50px;
}

.logo{
  position: absolute;
  height: 150px;
  width: 150px;
  left: 875px;
  top: 1000;
}

.logo top{
  left: 1000px;
  top: 1000px;
}

.maintitle{
  translate: 70vw -100vh;
  text-align: center;
  text-shadow: 0 0 2px grey, 0 0 7px grey;
  font-family: "Chakra Petch";
  font-size: 200%;
  color: black;
}

.ai{
  color: red;
}

.title{
    translate: 122vw -85vh;
    text-align: center;
    font-family: "Chakra Petch";
    font-size: 150%;
    color: black;
}

.description{
    translate: 107vw -111vh;
    text-align: center;
    font-size:65%;
    font-weight: 600;
    text-shadow: 0 0 7px grey;
}

.selection{
    justify-content: right;
    padding: 50px;
    width: 100%;
    height: 100vh;
}

.selection h1{
    color: white;
    text-shadow: 0 0 7px grey;
    text-align: center;
    translate: -350px 0vh;

}

/*
.displayCamera{
    translate: 0vw 80vh; 
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100vh;
    margin:50px;
}

.displayCamera h1{
    translate: 0vw 10vh; 

}
*/

.counts{
  color:#ffffff;
  margin:2%;
  padding:2%;
  position:absolute;
  font-family:Arial, Helvetica, sans-serif;
  font-size:130%;

  background-color:rgba(66, 66, 66, 0.6)
}

.cards{
    width: 100%;
    height: 50vh;
    text-align: center;
}

.card{
    display: inline-block;
    justify-content: left;
    translate: 100px 0px;
    width: 350px;
    height: 300px;
    margin: 10px 15px;
    border-radius: 10px;
    padding: 20px 25px;
    background-size: 400px 350px;
    box-sizing: border-box;
    cursor:pointer;
    background-position:center;
    background-repeat: no-repeat;
    opacity: 0.7;
    transition: transform 0.5s;
    background-color: #e8ecf4;
    text-align: left;
}
.caloriesBurn{
  color:rgba(255, 0, 0, 0.6);

  font-size:4rem;
}

.card1{
    background-image: url(buttonImages/jack.jpg);
}

.card2{
    background-image: url(buttonImages/curl.jpg);
}

.card3{
    background-image: url(buttonImages/squat.jpg);
}

.card4{
  background-image: url(buttonImages/lunge.jpg);
}

.card5{
  background-image: url(buttonImages/knee.jpg);
}

.card:hover{
    transform: translateY(-10px);
    opacity: 1;
}

.card h2{
    color: white;
    text-shadow: 0 0 7px grey;
    position: absolute;
    top:70%;
    left: 0;
    padding: 10px;
}

.card h3{
  color: white;
  text-shadow: 0 0 7px grey;
  position: absolute;
  top:80%;
  left: 0;
  padding: 10px;
}

.submit{
  font-size: 30px;
  position:relative;
  left:14.5%;
  top: 10%;
  width: auto;
  color:#ecf0f1;
  text-decoration:none;
  border-radius:5px;
  border:solid 1px darkred;
  background:red;
  text-align:center;
  padding:16px 18px 14px;
    
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
    
  -webkit-box-shadow: 0px 6px 0px rgb(173, 3, 3);
  -moz-box-shadow: 0px 6px 0px rgb(173, 3, 3);
  box-shadow: 0px 6px 0px rgb(173, 3, 3);
}
.submit:active{
  -webkit-box-shadow: 0px 2px 0px rgb(173, 3, 3);
  -moz-box-shadow: 0px 2px 0px rgb(173, 3, 3);
  box-shadow: 0px 2px 0px #682b02;
  position:relative;
  transform: translateY(10px);
  transform: translateX(5px);
}

.submit:hover{
  background: rgb(205, 0, 0);
  transform: translateY(10px);
  transform: translateX(5px);
}

.parallax {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -1500px;
  }
  
  .parallax__layer {
    position: absolute;
    
    top: 0;
    bottom: 0px;
    left: 0;
  }
  .parallax__layer img {
    display: block;
    position: absolute;
    bottom: 0;
  }
  
  .parallax__cover {
    background: #3B3B3B;
    display:flex;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 130vh;
    z-index: 2;
  }
  
  .parallax__layer__1 {
    transform: translateZ(-300px) scale(4);
  }
  
  .parallax__layer__2 {
    transform: translateZ(-250px) scale(3.5);
  }
  
  .parallax__layer__3 {
    transform: translateZ(-200px) scale(3);
  }
  
  .parallax__layer__4 {
    transform: translateZ(-150px) scale(2.5);
  }
  
  .parallax__layer__5 {
    transform: translateZ(-100px) scale(2);
  }
  
  .parallax__layer__6 {
    position: absolute;
    left: 623px;
  }
  
  /*translateZ(-50px) scale(1.5)*/


  